* {
    font-family: 'Playfair Display', serif;
}

span {
    color: seagreen;
}

/* 자손 선택자 */
/* desecendent-selector 안에있는 p태그를 선택*/
.descendent-selector p {
    font-size: 25px;
    color: sienna; 
}

.child-selector > p {
    font-size: 30px;
    color: steelblue;
}

/* 자식 선택자 중에 3번째 선택하는 방법 */
.child-selector > .nested-div {
    border: 2px dashed teal;
}

/* 모든 div 태그에 인접한 p에서의 설정 */
/* 인접한 형제는 하나씩만 선택이 된다. */
div + p {
    font-size: 30px;
    color: turquoise;
}

.adjacent-sibling-selector + p {
    font-size: 30px;
    color: crimson;
}

.general-sibling-selector ~ p {
    font-size: 30px;
    color: darkblue;
}

div ~ p {
    font-size: 30px;
    color:darkgreen
}