* {
    font-family: 'Playfair Display', serif;
}

h2 {
    color: slateblue;
}

.class-selector {
    /* font-size: 30px;
    border-style: solid;
    border-width: 4px; 
    border-color: firebrick
    */

    border: 2px dashed firebrick;
    /* 한줄로 표현가능! */
}

#id-selector {
    font-size: 30px;
    font-style: italic;
    color: forestgreen;
    font-weight: 400; /* 폰트 굵기, 숫자로도 가능*/
}